<div class="row">
    <div class="col-md-3">
        <h3>Resumen de la Orden</h3>
    </div>
    <div class="col-md-9">
        <div role="navigation">
            <ul class="nav nav-tabs">
                <% @product_categories.each do |category| %>
                    <li role="presentation"><%= link_to category.name  %></li>
                <% end %>
            </ul>
        </div>
        <div class="row">
            <% @products.each do |product| %>
                <div class="col-sm-3"><%= product.name%></div>
            <% end %>
        </div>
    </div>
</div>
