<% content_for :title,"Nosotros" %>
<div class="container">
    
    <div class="row">
    	<div class="col-md-4 address-more">
    		<h4>Dirección</h4>
    		<div class="address-grid">
    			<i class="glyphicon glyphicon-globe"></i>
    			<div class="address1">
    				<p>Teléfono</p>
    				<p>+511 343-3333</p>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    	</div>
    	
    	<div class="col-md-8 map">
    		<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGlfWp-x7no33NelpUCLiGJn6xTNgGOzM&q=UPC+Monterrico" allowfullscreen=""></iframe>                            
    	</div>
    	
    	<div class="clearfix"> </div>
	</div>
</div>